<div class="searchProp-cont">
  <ngb-carousel *ngIf="images">
    <ng-template *ngFor="let item of [0, 1, 2]" ngbSlide>
      <img
        [src]="images[item]"
        class="carousal-img"
        width="100%"
        alt="Random first slide"
      />
      <!-- <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div> -->
    </ng-template>
  </ngb-carousel>

  <div class="container">
    <div>
      <form
        *ngIf="images"
        class="searchProp"
        #searchData="ngForm"
        (ngSubmit)="searchProp(searchData.value)"
      >
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <label (click)="searchPropData.propertyFor = 'sell'">BUY</label>
            </ng-template>
            <ng-template ngbTabContent> </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <label (click)="searchPropData.propertyFor = 'rent'">RENT</label>
            </ng-template>

            <ng-template ngbTabContent> </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle
              ><label
                ><b routerLink="/property/new">POST A PROPERTY</b></label
              ></ng-template
            >
            <ng-template ngbTabContent> </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <div class="text-center searchFields">
          <div class="form-group">
            <input
              id="typeahead-basic"
              placeholder="Enter a location"
              type="text"
              class="rounded-left"
              ngModel
              #location="ngModel"
              name="city"
              [value]="searchPropData?.location"
              [ngbTypeahead]="search"
            />

            <select
              ngModel
              #city="ngModel"
              style="width: auto;"
              name="type"
              class="custom-select searchType rounded-0 p-cursor"
            >
              <option value="">Property Type</option>
              <option
                *ngFor="let type of propertyTypeList"
                [value]="type._id"
                >{{ type.title }}</option
              >
            </select>

            <button class="btn btn-dark searchButton rounded-0 rounded-right">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="mar-top-40">
    <h4 class="text-danger">Recent Postings:</h4>
    <hr class="hr" />
    <!-- <p>{{ searchPropData | json }}</p>
    <p>{{ cityList | json }}</p> -->

    <div ngbSlide>
      <app-propertylist
        [blockView]="true"
        [blockSize]="4"
        [hideOwnProperty]="hideOwnProperty"
        [queryParams]="queryParams"
      ></app-propertylist>
    </div>
  </div>
</div>
<div class="w3-container w3-padding-32" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat.
  </p>
</div>
<div class="w3-row-padding w3-grayscale">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="assets/images/Dan.jpeg" alt="John" style="width:100%" />
    <h3>John Doe</h3>
    <p class="w3-opacity">CEO & Founder</p>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
      pellentesque elementum.
    </p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="assets/images/Dan.jpeg" alt="Jane" style="width:100%" />
    <h3>Jane Doe</h3>
    <p class="w3-opacity">Architect</p>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
      pellentesque elementum.
    </p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="assets/images/Dan.jpeg" alt="Mike" style="width:100%" />
    <h3>Mike Ross</h3>
    <p class="w3-opacity">Architect</p>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
      pellentesque elementum.
    </p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="assets/images/Dan.jpeg" alt="Dan" style="width:100%" />
    <h3>Dan Star</h3>
    <p class="w3-opacity">Architect</p>
    <p>
      Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
      pellentesque elementum.
    </p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
</div>
<!-- Contact Section -->
<div class="w3-container w3-padding-32" id="contact">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
  <p>Lets get in touch and talk about your next project.</p>
  <form action="/action_page.php" target="_blank">
    <input
      class="w3-input w3-border"
      type="text"
      placeholder="Name"
      required
      name="Name"
    />
    <input
      class="w3-input w3-section w3-border"
      type="text"
      placeholder="Email"
      required
      name="Email"
    />
    <input
      class="w3-input w3-section w3-border"
      type="text"
      placeholder="Subject"
      required
      name="Subject"
    />
    <input
      class="w3-input w3-section w3-border"
      type="text"
      placeholder="Comment"
      required
      name="Comment"
    />
    <button class="w3-button w3-black w3-section" type="submit">
      <i class="fa fa-paper-plane"></i> SEND MESSAGE
    </button>
  </form>
</div>
